$headerbackgroundimage: url(../img/m-h-night.jpg);
$markbgcolor: #FF4E33;
$btnbgcolor: #E3AC00;
$mainbgcolor: #21232E;
$sct_ft_bgcolor: #3B3F50;
$ffamily:'Fresca', sans-serif;
$fontcolor: #ffff;
$gradcolor: 0.25turn, #DEA405, #902E51;
