$headerbackgroundimage: url(../img/m-h-day.jpg);
$markbgcolor: #14A0C7;
$btnbgcolor: #699900;
$mainbgcolor: #ffff;
$sct_ft_bgcolor: #21232E;
$ffamily: 'Hind', sans-serif;
$fontcolor: #2C2F3E;
$gradcolor: 0.25turn, #649412, #305ED0;